  <div class="modal fade" id="modal_find_client" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>


          <h4 class="modal-title" style="color:black">
            Pesquisar Pacientes
          </h4>
        </div>

          <div class="modal-body">
            <center>
              <form id="form_endereco" class="form-horizontal">
                  <div id="div_modal">

                      <input type="hidden" id="endereco_id" name="endereco_id">
                      <div class="row">
                        <div class="col-md-12">

                              <div class="col-md-10">
                                <div class="form-group">
                                    <input type="text" placeholder="digite o nome do Paciente" class="form-control  input-sm "id="name_find_client" name="name_find_client" value="">
                                    <div class="col-md-2 ">
                                    </div>
                                    <div class="col-md-10">
                                     </div>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  <button type="button" name="button_make_find" id="button_make_find" class="btn btn-info btn-block  btn-sm" >Filtrar</button>
                                </div>
                              </div>



                        </div>
                      </div>
                      <div class="row">
                          <div id="list_clients" >
                          </div>
                      </div>
                  </div>
              </form>
            </center>
          </div>
      </div>
    </div>
  </div>
</div>
