<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <i class="material-icons md-48 icon-title">accessible</i>
    <label class="label-title">Pacientes</label>
  </div>

</div>
<div class="row">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10 div-inter">
        <br>
        <div class="form-group">
          <%= link_to new_client_path, class: "btn btn-info btn-sm " do %>
              Cadastrar
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10 div-inter">

            <p id="notice"><%= notice %></p>
              <div class="col-md-10">
                <div class="form-group">
                  <input type="text" placeholder="digite o nome do Paciente" class="form-control  input-sm " name="name_find" id="name_find" value="">
                    <div class="col-md-2 ">
                    </div>
                    <div class="col-md-10">
                     </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                   <button type="button" id="btnFiltrar" class="btn btn-info btn-block  btn-sm" name="button">Filtrar</button>
                </div>
              </div>
              <div id="list_clients" >
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">Nenhuma informação filtrada!!</div>
                </div>
              </div>
          </div>
        </div>

    </div>
<div>
</div>


<script type="text/javascript" language="javascript">
$(document).ready(function() {
    $('body').on('click', '#btnFiltrar', function(){
       var name = $('#name_find').val();
        $.get("<%=find_clients_path%>",
               {'name':name},
             function(data){
            }
          );
    });

});

</script>
