<div class="col-md-4">

</div >
<div class="col-md-4 div-inter">
  <%= form_for(User.new, url: autentication_path) do |f| %>
    <div class="row">
        </br>
    </div>
    <div class="row ">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="field" >
                  <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <%= f.text_field :email,:class =>"form-control", placeholder: "Email" %>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="field">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="material-icons md-18">lock</i></span>
                    <%= f.password_field :password,:class =>"form-control" , placeholder: "Senha" %>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <%= f.submit "Entrar", :class=>"btn btn-primary btn-block"%>
              </div>
              <br>
            </div>
            <div class="col-md-1">

            </div>

  </div>
<% end %>

</div>
<div class="col-md-4">

</div>
