<% content_for :title do %>
  ClipMed
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div style="background:#FA2A02; border-radius:0px; color:#FFFFFF" class="panel panel-primary">
        <div class="panel-body">
          <div class="col-md-4">
              <i class="material-icons md-48 icon-title">accessible</i>
              <span class="badge" style="background:#FFFFFF;color:black;">Pacientes</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <h1><%= @count_client%></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div style="background:#FFB402; border-radius:0px; color:#FFFFFF" class="panel panel-primary">
        <div class="panel-body">
          <div class="col-md-4">
              <i class="material-icons md-48 icon-title">local_hospital</i>
              <span class="badge" style="background:#FFFFFF;color:black;">Médicos</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <h1><%= @count_profissional%></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div style="background:#21A7F0; border-radius:0px; color:#FFFFFF" class="panel panel-primary">
        <div class="panel-body">
          <div class="col-md-4">
              <i class="material-icons md-48 icon-title">wc</i>
              <span class="badge" style="background:#FFFFFF;color:black;">Convênios</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h1><%= @count_agreement%></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div style="background:#258677; border-radius:0px; color:#FFFFFF" class="panel panel-primary">
        <div class="panel-body">
          <div class="col-md-4">
              <i class="material-icons md-48 icon-title">content_paste</i>
              <span class="badge" style="background:#FFFFFF;color:black;">Prontuarios</span>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h1><%= @count_attendances%></h1>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
